.cardBox {
    margin: 4px;
}

.TopPageTitle{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.addButtonDiv{
    text-align: right;
}
.circularProgressClass{
    text-align: center;
}
.GridFields{
align-items: right;

}
